* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #202329;
    color: white;
    text-align: center;
    padding: 20px;
}

header {
    margin-bottom: 30px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 200px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #dedede;
    font-weight: bold;
}

